@charset "UTF-8";

@import
	url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap")
	;

@font-face {
	font-family: "GmarketSansMedium";
	src:
		url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

body, html {
	font-family: "Noto Sans KR", sans-serif;
	margin: 0;
	padding: 0;
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 14px;
	scrollbar-face-color: #4d4d4d;
	scrollbar-3dlight-color: #f4f4f4;
	scrollbar-arrow-color: #000;
	scrollbar-track-color: #efefef;
	scrollbar-darkshadow-color: #efefef;
	scrollbar-highlight-color: #f4f4f4;
	scrollbar-shadow-color: #cccccc;
}

.banana {
	height: 700px;
}

.board_body {
	width: 1000px;
	height: 600px;
	margin: 0 auto;
}

.title_box h2 {
	padding: 30px 0 10px 0;
	text-align: left;
	margin: 0;
	font-size: 36px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-bottom: 2px solid #333333;
}

.noti_header_box {
	height: 50px;
	padding: 10px;
	display: flex;
    align-items: center;
}

.btn_primary {
	background-color: #333333;
	color: #eee;
	cursor: pointer;
}

.noti_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	margin-left: 10px;
}

.ul_news_title {
	text-align: center;
	border-bottom: 2px solid #333333;
	border-top: 2px solid #333333;
	padding: 20px 20px;
	min-height: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0px;
}

.ul_news {
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid #ddd;
	padding: 20px 10px;
	min-height: 20px;
	align-items: center;
	text-align: center;
	margin: 0;
}

.ul_news .title {
	text-align: left;
	padding-left: 50px;
}

/* .ul_news div span{
  text-align: center;
} */
.ul_news:hover, .ul_news a:hover {
	background-color: rgb(242, 242, 242);
	color: #212529;
}

.label_list {
	background: #666;
	display: inline-block;
	width: 85px;
	border-radius: 3px;
	color: #fff;
	font-size: 13px;
	text-align: center;
	padding: 5px 5px;
	margin-right: 5px;
}


.btns {
	margin: 30px auto;
}

.pagination {
	display: flex;
	justify-content: center;
}

#write_notice {
	text-align: right;
	margin-top: 10px;
	margin-right: 25px;
}

#write_notice>button {
	background-color: #333333;
	color: #eee;
	cursor: pointer;
}

div.btns ul.pagination li {
	margin-right: 10px;
}