<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gym.mappers.Ex_Board">
	
	<!-- 게시물 목록 -->
	<select id= "ex_list" resultType="com.gym.ex_board.vo.Ex_BoardVO">
		select
			ex_num, ex_title, ex_writer, ex_date, ex_content, view_cnt
		from ex_board
		order by ex_date desc
		limit 0, 10
	</select>
	
	<!-- 게시물 작성 -->
	<insert id = "ex_write" parameterType="com.gym.ex_board.vo.Ex_BoardVO">
		insert into ex_board (ex_title, ex_writer, ex_content)
		values (#{ex_title}, #{ex_writer}, #{ex_content})
	</insert>
	
	<!-- 게시물 조회 -->
	<select id="ex_view" parameterType="_int" resultType="com.gym.ex_board.vo.Ex_BoardVO">
		select
			ex_num, ex_title, ex_writer, ex_date, ex_content, view_cnt
		from ex_board
		where ex_num = #{ex_num}
	</select>	
	
	<!-- 게시물 수정 -->
	<update id="ex_modify" parameterType="com.gym.ex_board.vo.Ex_BoardVO">
		update ex_board
			set
				ex_title = #{ex_title},
    	    	ex_content = #{ex_content}
		where ex_num = #{ex_num};
	</update>
	
	<!-- 게시물 삭제 -->
	<delete id="ex_delete" parameterType="_int">
		delete 
			from ex_board
		where ex_num = #{ex_num};
	</delete>	
	
	<!-- 게시물 총 갯수 -->
	<select id="ex_count" resultType="_int">
		select count(ex_num) from ex_board
	</select>
	
	<!-- 게시물 리스트 + 페이징 -->
	<select id="ex_listpage" parameterType="hashMap" resultType="com.gym.ex_board.vo.Ex_BoardVO">
		select
			ex_num, ex_title, ex_writer, ex_date, ex_content, view_cnt
		from ex_board
		order by ex_date desc
		limit #{displayPost}, #{postNum}
	</select>
	
	
	
</mapper>