<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gym.mappers.profile">
	<!-- 현재 예약 내역 개수 -->
	<select id="getMyReserveCnt" resultType="_int">
		select count(a.rv_num) from
			admin_reservation a
		join reservation r
			on a.rv_num = r.rv_num
		where r.userid = #{userid} and a.rv_date > now()
	</select>
	
	<!-- 현재 예약 목록 -->
	<select id="getMyReserve" resultType="com.gym.domain.ReservationVO">
		select * from
			admin_reservation a
		join reservation r
			on a.rv_num = r.rv_num
		where r.userid = #{userid} and a.rv_date > now()
			order by rv_date desc
			limit #{displayPost}, #{postNum}
	</select>
	
	<!-- 예약 취소 -->
	<delete id="my_reserve_delete">
		delete from reservation
			where rv_num = #{rv_num}
	</delete>

	<!-- 과거 예약 내역 개수 -->
	<select id="getMyReservePastCnt" resultType="_int">
		select count(a.rv_num) from
			admin_reservation a
		join reservation r
			on a.rv_num = r.rv_num
		where r.userid = #{userid} and <![CDATA[a.rv_date < now()]]>
			<if test = 'date_list.equals("all_period")'></if>
			<if test = 'date_list.equals("1_month")'>
				and a.rv_date > date_sub(now(), interval 1 month)
			</if>
			<if test = 'date_list.equals("3_months")'>
				and a.rv_date > date_sub(now(), interval 3 month)
			</if>
			<if test = 'date_list.equals("6_months")'>
				and a.rv_date > date_sub(now(), interval 6 month)
			</if>
			<if test = 'date_list.equals("12_months")'>
				and a.rv_date > date_sub(now(), interval 12 month)
			</if>
			<if test = 'lecture_list.equals("all_lecture")'></if>
			<if test = 'lecture_list.equals("zumba")'>
				and a.rv_title = '줌바'
			</if>
			<if test = 'lecture_list.equals("yoga")'>
				and a.rv_title = '요가'
			</if>
			<if test = 'lecture_list.equals("dietdance")'>
				and a.rv_title = '다이어트댄스'
			</if>
			<if test = 'lecture_list.equals("pilates")'>
				and a.rv_title = '필라테스'
			</if>
			<if test = 'lecture_list.equals("aerobics")'>
				and a.rv_title = '에어로빅'
			</if>
			<if test = 'lecture_list.equals("spinning")'>
				and a.rv_title = '스피닝'
			</if>
	</select>
	
	<!-- 과거 예약 목록 -->
	<select id="getMyReservePast" resultType="com.gym.domain.ReservationVO">
		select * from
			admin_reservation a
		join reservation r
			on a.rv_num = r.rv_num
		where r.userid = #{userid} and <![CDATA[a.rv_date < now()]]>
			<if test = 'date_list.equals("all_period")'></if>
			<if test = 'date_list.equals("1_month")'>
				and a.rv_date > date_sub(now(), interval 1 month)
			</if>
			<if test = 'date_list.equals("3_months")'>
				and a.rv_date > date_sub(now(), interval 3 month)
			</if>
			<if test = 'date_list.equals("6_months")'>
				and a.rv_date > date_sub(now(), interval 6 month)
			</if>
			<if test = 'date_list.equals("12_months")'>
				and a.rv_date > date_sub(now(), interval 12 month)
			</if>
			<if test = 'lecture_list.equals("all_lecture")'></if>
			<if test = 'lecture_list.equals("zumba")'>
				and a.rv_title = '줌바'
			</if>
			<if test = 'lecture_list.equals("yoga")'>
				and a.rv_title = '요가'
			</if>
			<if test = 'lecture_list.equals("dietdance")'>
				and a.rv_title = '다이어트댄스'
			</if>
			<if test = 'lecture_list.equals("pilates")'>
				and a.rv_title = '필라테스'
			</if>
			<if test = 'lecture_list.equals("aerobics")'>
				and a.rv_title = '에어로빅'
			</if>
			<if test = 'lecture_list.equals("spinning")'>
				and a.rv_title = '스피닝'
			</if>
			order by rv_date desc
			limit #{displayPost}, #{postNum}
	</select>
	


	<!-- 마이페이지(자게) 게시글 총 개수 -->
	<select id="getMyFreeCnt" resultType="_int">
		select count(b_num) from
			f_board where b_writer = #{b_writer}
	</select>

	<!-- 마이페이지(자게) 게시글 목록 -->
	<select id="getMyFreeList" resultType="com.gym.domain.FreeBoardVO">
		select *
			from f_board
		where b_writer = #{b_writer}
			order by b_num desc
			limit #{displayPost}, #{postNum}
	</select>

	<!-- 마이페이지(자게) 게시글 조회 -->
	<select id="getMyFreeDetail" parameterType="_int" resultType="com.gym.domain.FreeBoardVO">
		select * from f_board
		where b_num = #{b_num}
	</select>

	<!-- 마이페이지(자게) 게시글 삭제 -->
	<delete id="myFreeDelete">
		delete from f_board
		where b_num = #{b_num}
	</delete>

	<!-- 마이페이지(자게) 게시글 일괄 삭제 -->
	<delete id="myFreeDeleteAll">
		delete from f_board
		where b_writer = #{b_writer}
	</delete>
	
	<!-- 마이페이지(자게) 게시글에서 댓글 작성 -->
	<insert id="myFreeDetailReplyWrite">
		insert into f_comment(b_num, c_writer, c_contents, c_date)
			values(#{b_num}, #{c_writer}, #{c_contents}, now())
	</insert>
	
	<!-- 마이페이지(자게) 게시글에서 댓글 삭제 -->
	<delete id="myFreeDetailReplyDelete">
		delete from f_comment
			where c_num = #{c_num}
	</delete>
	
	<!-- 마이페이지(자게) 게시글에서 댓글 수정 뷰 -->
	<select id="myFreeDetailReplyDetail" resultType="com.gym.domain.ReplyVO">
		select * from f_comment
			where c_num = #{c_num}
	</select>
	
	<!-- 마이페이지(자게) 게시글에서 댓글 수정 업데이트 -->
	<update id="myFreeDetailReplyModify">
		update f_comment set c_contents = #{c_contents}
			where c_num = #{c_num}
	</update>

	<!-- 마이페이지(자게) 댓글 총 개수 -->
	<select id="getMyFreeRepCnt" resultType="_int">
		select count(c_num) from
			f_comment where c_writer = #{c_writer}
	</select>
	
	<!-- 마이페이지(자게) 댓글 목록 -->
	<select id="getMyFreeRepList" resultType="com.gym.domain.ReplyVO">
		select *
			from f_board b
		join f_comment c
			on b.b_num = c.b_num
		where c_writer = #{c_writer}
			order by c_date desc
			limit #{displayPost}, #{postNum}
	</select>

	<!-- 마이페이지(자게) 댓글 삭제 -->
	<delete id="myFreeRepDelete">
		delete from f_comment
			where c_num = #{c_num}
	</delete>

	<!-- 마이페이지(자게) 댓글 일괄 삭제 -->
	<delete id="myFreeRepDeleteAll">
		delete from f_comment
			where c_writer = #{c_writer}
	</delete>
	


	<!-- 마이페이지(운지공) 게시글 총 개수 -->
	<select id="getMyExCnt" resultType="_int">
		select count(ex_num) from ex_board
			where ex_writer = #{ex_writer}
	</select>

	<!-- 마이페이지(운지공) 게시글 목록 -->
	<select id="getMyExList" resultType="com.gym.ex_board.vo.Ex_BoardVO">
		select *
			from ex_board
		where ex_writer = #{ex_writer}
			order by ex_num desc
			limit #{displayPost}, #{postNum}
	</select>

	<!-- 마이페이지(운지공) 게시글 조회 -->
	<select id="getMyExDetail" parameterType="_int" resultType="com.gym.ex_board.vo.Ex_BoardVO">
		select * from ex_board
			where ex_num = #{ex_num}
	</select>

	<!-- 마이페이지(운지공) 게시글 삭제 -->
	<delete id="myExDelete">
		delete from ex_board
			where ex_num = #{ex_num}
	</delete>

	<!-- 마이페이지(운지공) 게시글 일괄 삭제 -->
	<delete id="myExDeleteAll">
		delete from ex_board
			where ex_writer = #{ex_writer}
	</delete>
	
	<!-- 마이페이지(운지공) 게시글에서 댓글 작성 -->
	<insert id="myExDetailReplyWrite">
		insert into exc_comment(ex_num, exc_writer, exc_contents, exc_date)
			values(#{ex_num}, #{exc_writer}, #{exc_contents}, now())
	</insert>
	
	<!-- 마이페이지(운지공) 게시글에서 댓글 삭제 -->
	<delete id="myExDetailReplyDelete">
		delete from exc_comment
			where exc_num = #{exc_num}
	</delete>
	
	<!-- 마이페이지(운지공) 게시글에서 댓글 수정 뷰 -->
	<select id="myExDetailReplyDetail" resultType="com.gym.ex_board.vo.Ex_ReplyVO">
		select * from exc_comment
			where exc_num = #{exc_num}
	</select>
	
	<!-- 마이페이지(운지공) 게시글에서 댓글 수정 업데이트 -->
	<update id="myExDetailReplyModify">
		update exc_comment set exc_contents = #{exc_contents}
			where exc_num = #{exc_num}
	</update>

	<!-- 마이페이지(운지공) 댓글 총 개수 -->
	<select id="getMyExRepCnt" resultType="_int">
		select count(exc_num) from
		exc_comment where exc_writer = #{exc_writer}
	</select>
	
	<!-- 마이페이지(운지공) 댓글 목록 -->
	<select id="getMyExRepList" resultType="com.gym.ex_board.vo.Ex_ReplyVO">
		select *
			from ex_board b
		join exc_comment c
			on b.ex_num = c.ex_num
		where exc_writer = #{exc_writer}
			order by exc_date desc
			limit #{displayPost}, #{postNum}
	</select>

	<!-- 마이페이지(운지공) 댓글 삭제 -->
	<delete id="myExRepDelete">
		delete from exc_comment
			where exc_num = #{exc_num}
	</delete>

	<!-- 마이페이지(운지공) 댓글 일괄 삭제 -->
	<delete id="myExRepDeleteAll">
		delete from exc_comment
			where exc_writer = #{exc_writer}
	</delete>
</mapper>
