<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gym.mappers.profile">

	<!-- 마이페이지(자게) 게시글 목록 -->
	<select id="getFreeList" resultType="com.gym.domain.FreeBoardVO">
		select
			b_num
			, b_title
			, b_writer
			, b_date
			, view_cnt
		from f_board
			where b_writer = #{b_writer}
		order by b_num desc
	</select>

	<!-- 마이페이지(운지공) 게시글 목록 -->
	<select id="getExList" resultType="com.gym.ex_board.vo.Ex_BoardVO">
		select * from ex_board where ex_writer = #{ex_writer}
	</select>
	
	<!-- 마이페이지(운지공) 게시글 조회 -->
	<select id="getExDetail" resultType="com.gym.ex_board.vo.Ex_BoardVO">
		select * from ex_board where ex_num = #{ex_num}
	</select>
	
	<!-- 마이페이지(운지공) 게시글 수정 -->
	<update id="my_exercise_modify" parameterType="com.gym.ex_board.vo.Ex_BoardVO">
		update from ex_board set
			ex_title = #{ex_title}
			, ex_content = #{ex_content}
		where ex_num = #{ex_num}
	</update>
	
	<!-- 마이페이지(운지공) 게시글 삭제 -->
	<delete id="my_exercise_delete" parameterType="int">
		delete
			from ex_board
		where ex_num = #{ex_num}
	</delete>
	
</mapper>
