<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gym.mappers.user">
   <!-- 회원가입 -->
   <insert id="join" parameterType="com.gym.domain.UserVO">
      insert into
         user(userid
            , userpw
            , username
            , usernick
            , zipcode
            , addr
            , addrdetail
            , addretc
            , email
            , phone)
         values (#{userid}
            , #{userpw}
            , #{username}
            , #{usernick}
            , #{zipcode}
            , #{addr}
            , #{addrdetail}
            , #{addretc}
            , #{email}
            , #{phone})
   </insert>
   
   <!-- id 중복 체크 -->
   <select id="idchk" parameterType="string" resultType="_int">
      select count(*) from user
         where userid = #{userid}
   </select>
</mapper>