@charset "utf-8";

/* titillium-web-300 - latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/titillium-web-v8-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Titillium Web Light'), local('TitilliumWeb-Light'),
       url('/fonts/titillium-web-v8-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/titillium-web-v8-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/titillium-web-v8-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/fonts/titillium-web-v8-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/titillium-web-v8-latin-300.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-regular - latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/titillium-web-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'),
       url('/fonts/titillium-web-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/titillium-web-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/titillium-web-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/titillium-web-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/titillium-web-v8-latin-regular.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-600 - latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/titillium-web-v8-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Titillium Web SemiBold'), local('TitilliumWeb-SemiBold'),
       url('/fonts/titillium-web-v8-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/titillium-web-v8-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/titillium-web-v8-latin-600.woff') format('woff'), /* Modern Browsers */
       url('/fonts/titillium-web-v8-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/titillium-web-v8-latin-600.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}


/* CSS Document */
/*
* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/NotoSansKR-Thin.woff2) format('woff2'),
       url(/fonts/NotoSansKR-Thin.woff) format('woff'),
       url(/fonts/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/NotoSansKR-Light.woff2) format('woff2'),
       url(/fonts/NotoSansKR-Light.woff) format('woff'),
       url(/fonts/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url(/fonts/NotoSansKR-Regular.woff2) format('woff2'),
        url(/fonts/NotoSansKR-Regular.woff) format('woff'),
        url(/fonts/NotoSansKR-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: url(/fonts/NotoSansKR-Medium.woff2) format('woff2'),
        url(/fonts/NotoSansKR-Medium.woff) format('woff'),
        url(/fonts/NotoSansKR-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 700;
   src: url(/fonts/NotoSansKR-Bold.woff2) format('woff2'),
        url(/fonts/NotoSansKR-Bold.woff) format('woff'),
        url(/fonts/NotoSansKR-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 900;
   src: url(/fonts/NotoSansKR-Black.woff2) format('woff2'),
        url(/fonts/NotoSansKR-Black.woff) format('woff'),
        url(/fonts/NotoSansKR-Black.otf) format('opentype');
 }
 

/*공통 웹폰트 */
body {font-family: "Noto Sans KR", 'Noto Sans', sans-serif, "돋움", dotum, AppleGothic;color:#333;}
* {margin: 0;padding: 0;}
li {list-style:none;}
textarea {font-family: "Noto Sans KR", 'Noto Sans', sans-serif, "돋움", dotum, AppleGothic;}
html{ font-size:62.5% !important;}
@media all and (max-width:765px) {
	html{font-size:51%  !important;}
}


* {margin: 0; padding: 0;  }
html {font-family: 'Dotum'; font-size:12px; }
table {border-collapse: collapse }
ul, ol {list-style-type: none }
a, a:link, a:visited, a:active {color: #000; text-decoration: none; }
a:hover , a:focus {color: #000; text-decoration: none;  }

.clfix:after {content: ""; display: block; height: 0px; clear: both; visibility: hidden}
* html .clfix {height: 1%} /* Hides from IE-mac */
#clear {clear: both;}


img {max-width:100%}



/*  reset.css	
---------------------------------------------------------------- */

/* 모든 요소 공간 0, 서체 크기 100%, 세로정렬 baseline, 배경색 투명 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	outline: 0;
	border: 0;
	padding: 0;

	background: transparent;
}

/* HTML5 새 요소 초기화 */
article, aside, details, figcaption, figure,F*
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* 본문 기본 설정, 리스트 블릿 제거, 인용 구문 제거 */

ol, ul { list-style: none; }
blockquote, q { quotes: none; }


/*
 br, hr 제거 
br, hr { display: none; }
*/


/* 제목 글꼴 크기 설정 */
h1, h2, h3, h4, h5, h6 { font-weight: normal; color: #111; }
h1 { 
	font-size: 36px; 
	line-height: 1; 

}
h2 { 
	font-size: 24px; 

}
h3 { 
	font-size: 18px; 
	
}
h4 { font-size: 14px; }
h5 { margin-bottom: 1.5em; }
h5, h6 { font-weight: bold; }

h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
  margin: 0;
}

/* 제목, 단락 상.하 공간 설정 */
p { margin: 0 0 ; }


/* 하이퍼링크 기본 스타일 재정의 */
a:link, a:visited { 
	text-decoration: none;
	
}
a:hover, a:active {
	
}

/* img를 포함한 a요소의 보더, 패딩 초기화 설정 */
a img {
	border: 0; 
	padding: 0;
}


/* insert, delete */
ins { text-decoration: none; }
del { text-decoration: line-through; }


/* 테이블 설정 */
table {


	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}

/*   */
.al        {text-align:left !important}
.ac        {text-align:center !important}
.ar        {text-align:right !important}
.vt        {vertical-align:top !important}
.vb        {vertical-align:bottom !important}

.fl        {float:left}
.fr        {float:right}
.fc        {float:center}
.cl        {clear:left}
.cr        {clear:right}
.cb        {clear:both}
.oh        {overflow: hidden;}
.b         {font-weight:600;}
.blno      {border-left:none !important}






* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

select::-ms-expand { /* for IE 11 */
    display: none;}
    
button {cursor:pointer}

